body {
  font-family: Montserrat;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat;
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

/* Headings */
.big-heading {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Section */
.coloured-section{
  background-color: #01a9b4;
  color: #fff;
}

.white-section{
  background-color: #fff;
}


/*Navigation Bar*/
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.5;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: Montserrat;
  font-weight: 200;
}

/* Title Section */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features */
.ic {
  color: #87dfd6;
  padding-bottom: 1.5rem;
  font-size: 6rem;
  /* can use fa-4x class instead of font size */
}

.ic :hover {
  color: #01a9b4;
}

#features {
  /* this ws done in the vid : padding: 7% 15%; */
  /* margin: 5rem 2rem 5rem 2rem; */
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.fbox {
  padding: 5%;
}

/* Testimonials Section */
#testimonials {
  background-color: #87dfd6;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press Section */
#press {
  background-color: #87dfd6;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing section */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}


/* Footer */
.ic1 {
  margin: 20px 10px;
  margin-left: 30px;
  text-align: center;
}

footer a{
  padding: 0;
  margin: 0;
  color: #01a9b4;
}

@media (max-width: 1028px) {
  .title-image {
    position: static;
    transform: rotate(0);
    text-align: center;
    margin-left: 20%;
  }

  #title {
    text-align: center;
  }

  .dbuttons{
    text-align: center;
  }
}
